services:
  db:
    image: postgres:16.1-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: p-log
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: dockerfile
      target: dev
    container_name: backend
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    env_file:
      - ./.env.dev
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure
    develop:
      watch:
        - action: rebuild
          path: .
          ignore:
            - "*.md"
            - ".git/"
            - ".gitignore"
  swagger:
    image: swaggerapi/swagger-ui
    container_name: swagger
    ports:
      - "8081:8080"
    environment:
      SWAGGER_JSON: "/openapi.yaml"
      # SwaggerUIからブラウザ経由でAPIにアクセスするため、URLはホストのlocalhostを指定
      # BASE_URL: "" # 空文字列はnginxのエラーを引き起こすためコメントアウト
      # クロスオリジンリクエストを許可
      VALIDATOR_URL: "null"
    volumes:
      - ../docs/api.yaml:/openapi.yaml:ro
    depends_on:
      - backend

volumes:
  db_data:
  
networks:
  default:
    driver: bridge