main h2{
    margin: 0 20px 20px 0;
    padding: 0 0 10px 20px;
    border-bottom: 2px solid #000;
}

.form{
    margin: 0 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form label,
.form input,
.form .date,
.form .select,
.form textarea{
    height: 40px;
}

.form label{
    width: 150px;
    font-size: 25px;
}

.form input,
.form select,
.form textarea{
    width: 220px;
    font-size: 17px;
}

.form .date{
    width: 222.5px;
}

.form select{
    width: 227.5px;
}

.form textarea{
    resize: none;
}

.icon{
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon label{
    font-size: 18px;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.previewImage{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

input[type="file"]{
    display: none;
}

button{
    width: 16vw;
    height: 40px;
    padding: 0;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background-image: linear-gradient(37deg, rgb(77, 163, 238), rgba(26, 2, 128, 1));
    border: none;
    cursor: pointer;
}