.option {
  width: 12vw;
  line-height: 20px;
  margin: 0 auto;
  padding: 5px;
  background-image: linear-gradient(37deg, rgb(77, 163, 238), rgba(26, 2, 128, 1));
  font-size: 15px;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  transition: 0.5s;
}

.option:hover {
  width: 16vw;
  line-height: 35px;
}

small {
  font-size: 10px;
}

.button {
  border-radius: 50%;
  border: none;
  background-image: linear-gradient(37deg, rgb(77, 163, 238), rgba(26, 2, 128, 1));
  box-shadow:
    inset 0 2px 0 rgba(255, 255, 255, 0.5),
    0 2px 2px rgba(0, 0, 0, 0.19);
  text-align: center;
  justify-content: center;
  width: 4vw;
  height: 2.5vw;
  align-self: flex-end;
  color: white;
  font-size: 10px;
  transition: 0.5s;
}
.button:hover {
  width: 4.5vw;
  height: 3vw;
}

.post {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.post > :first-child {
  width: 10vw;
  flex-shrink: 0;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test {
  position: relative;
  top: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
