.option{
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 15px;
    width: 12vw;
    line-height: 20px;
    text-align: center;
    border-radius: 30px;
    transition: 0.5s;
    background-image: linear-gradient(37deg, rgb(77, 163, 238), rgba(26, 2, 128, 1));
    color: white;
}

.option:hover{
    width: 16vw;
    line-height: 35px;
}

li{
    font-size: 15px;
    width: 14vw;
    line-height: 20px;
    text-align: center;
    border: 3px solid #FFF;
    border-radius: 30px;
    transition: 0.5s;
}

small{
    font-size: 10px;
}


button {
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(37deg, rgb(77, 163, 238), rgba(26, 2, 128, 1));
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    text-align: center;
    justify-content: center;
    width: 4vw;
    height: 2.5vw;
    align-self: flex-end;
    color:white;
    font-size: 10px;
}