.option{
    width: 12vw;
    line-height: 20px;
    margin: 0 auto;
    padding: 5px;
    background-image: linear-gradient(37deg, rgb(77, 163, 238), rgba(26, 2, 128, 1));
    font-size: 15px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    transition: 0.5s;
}

.option:hover{
    width: 16vw;
    line-height: 35px;
}


small{
    font-size: 10px;
}


.button {
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(37deg, rgb(77, 163, 238), rgba(26, 2, 128, 1));
    text-align: center;
    justify-content: center;
    width: 8vw;
    height: 4.5vw;
    align-self: flex-end;
    color:white;
    font-size: 10px;
    transition: 0.5s;
}
.button:hover{
    width: 9.5vw;
    height: 6vw;
}

.post{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.post > :first-child {
  width: 10vw;
  flex-shrink: 0;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.test{
    position: relative;
    top:100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.fukidashi {
  list-style-type: none;
  position: relative;
  width: fit-content;
  padding: 12px 16px;
  border: 2px solid #333333;
  border-radius: 4px;
}
.fukidashi::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  background-color: #ffffff; /* 背景色と同じ色を指定 */
  rotate: 135deg;
  translate: -50%;
}
.fukidashi::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 2px solid;
  border-color: #333333 #333333 transparent transparent;
  rotate: 135deg;
  translate: -50%;
}