body,
h1{
  margin: 0;
}

body{
  background-color: rgb(235, 235, 235);
}

h1{
  color: white;
}

.header{
  background-image: linear-gradient(37deg, rgb(77, 163, 238), rgba(26, 2, 128, 1));
  width: 100%;
  height: 100px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 20px;
}

.myHeader,
.friendHeader{
  height: 160px;
}

.main{
  background-color: white;
  position: relative;
  top: 130px;
  margin: 0 7.5% 250px 7.5%;
  padding: 20px;
  border-radius: 20px;
}

.myMain,
.friendMain{
  top: 200px;
}

footer{
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}