.global {
  font-size: 20px;
}

main h2 {
  margin: 0 20px 20px 0;
  padding: 0 0 10px 20px;
  border-bottom: 2px solid #000;
}

.inputText,
.inputDate,
.button {
  width: 16vw;
  height: 40px;
  padding: 0 0 0 10px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  font-size: 18px;
}

.button {
  padding: 0;
  color: white;
  background-image: linear-gradient(37deg, rgb(77, 163, 238), rgba(26, 2, 128, 1));
  border: none;
  cursor: pointer;
}

.button:active {
  color: rgb(238, 238, 238);
  background-image: linear-gradient(37deg, rgb(71, 149, 218), rgb(22, 2, 112));
}
