.search{
    position: fixed;
    top: 20px;
    right: 3.5vw;
    display: flex;
    gap: 30px;
}

.search input,
.search button{
    background-color: white;
        border-radius: 10px;
}

.search input{
    font-size: 18px;
    width: 200px;
    height: 40px;
}

.search button{
    width: 50px;
    font-weight: bold;
    cursor: pointer;
}

.search button:active{
    background-color: rgb(230, 230, 230);
}