.option{
    padding: 5px;
    font-size: 20px;
    width: 14vw;
    line-height: 20px;
    text-align: center;
    border-radius: 30px;
    transition: 0.5s;
    background-image: linear-gradient(37deg, rgb(77, 163, 238), rgba(26, 2, 128, 1));
    color: white;
}

.option:hover{
    width: 16vw;
    line-height: 35px;
}

li{
    font-size: 15px;
    width: 14vw;
    line-height: 20px;
    text-align: center;
    border: 3px solid #FFF;
    border-radius: 30px;
    transition: 0.5s;
}

small{
    font-size: 10px;
}